{% for post in posts %}
  <div class="card mb-3">
    {% if post.featured_image %}
      <img src="{{ post.featured_image.url }}" class="card-img-top img-fluid" alt="{{ post.title }}">
    {% endif %}
    <div class="card-body">
      <h2 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
      <p class="card-text">{{ post.excerpt }}</p>
      <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Read More</a>
    </div>
    <div class="card-footer text-muted">
      Written by {{ post.author }} on {{ post.published_date|date:"F j, Y" }}
    </div>
  </div>
{% endfor %}
